# Lahore Plot price prediction Analysis

# Libraries

In [1]:
import pandas as pd

# Data Loading / Reading

In [2]:
df = pd.read_csv(r"C:\Users\zain baig\Desktop\3rd Semester\Data sets for Analysis\plot_prices.csv")

In [3]:
df

         Price                                           Location       Area
0    3.3 Crore  Wapda Town Phase 1 - Block E1, Wapda Town Phase 1    1 Kanal
1   3.55 Crore  Wapda Town Phase 1 - Block F1, Wapda Town Phase 1    1 Kanal
2    3.4 Crore  Wapda Town Phase 1 - Block B4, Wapda Town Phase 1    1 Kanal
3   2.17 Crore  Wapda Town Phase 1 - Block K3, Wapda Town Phase 1   10 Marla
4   2.27 Crore  Wapda Town Phase 1 - Block F1, Wapda Town Phase 1   10 Marla
..         ...                                                ...        ...
87   3.5 Crore  Wapda Town Phase 1 - Block H1, Wapda Town Phase 1    2 Kanal
88     7 Crore  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1    2 Kanal
89     3 Crore                   Wapda Town Extension, Wapda Town    1 Kanal
90   2.4 Crore                   Wapda Town Extension, Wapda Town    1 Kanal
91   3.5 Crore  Wapda Town Phase 1 - Block J1, Wapda Town Phase 1  1.1 Kanal

[92 rows x 3 columns]

# Data Exploration

In [4]:
print(f"Number of rows :{df.shape[0]} \n Number of columns : {df.shape[1]}")

Number of rows :92
 Number of columns : 3

In [5]:
df.count()

Price       82
Location    88
Area        90
dtype: int64

In [6]:
df.describe()

            Price                                           Location     Area
count          82                                                 88       90
unique         51                                                 33        9
top     3.5 Crore  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1  1 Kanal
freq            5                                                  8       40

In [11]:
df.isnull().sum()

Price       10
Location     4
Area         2
dtype: int64

In [8]:
df.head(20)

         Price                                           Location       Area
0    3.3 Crore  Wapda Town Phase 1 - Block E1, Wapda Town Phase 1    1 Kanal
1   3.55 Crore  Wapda Town Phase 1 - Block F1, Wapda Town Phase 1    1 Kanal
2    3.4 Crore  Wapda Town Phase 1 - Block B4, Wapda Town Phase 1    1 Kanal
3   2.17 Crore  Wapda Town Phase 1 - Block K3, Wapda Town Phase 1   10 Marla
4   2.27 Crore  Wapda Town Phase 1 - Block F1, Wapda Town Phase 1   10 Marla
5    2.8 Crore  Wapda Town Phase 2 - Block Q1, Wapda Town Phase 2    1 Kanal
6    3.5 Crore                     Wapda Town Phase 1, Wapda Town    1 Kanal
7   1.65 Crore  Wapda Town Phase 2 - Block N1, Wapda Town Phase 2   10 Marla
8   2.25 Crore  Wapda Town Phase 2 - Block P3, Wapda Town Phase 2    1 Kanal
9   5.75 Crore  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1    2 Kanal
10   1.6 Crore  Wapda Town Phase 1 - Block H4, Wapda Town Phase 1   10 Marla
11  3.35 Crore  Wapda Town Phase 2 - Block Q2, Wapda Town Phase 2  1.2 Kanal
12   1.6 Crore  Wapda Town Phase 1 - Block H4, Wapda Town Phase 1   10 Marla
13   7.6 Crore  Wapda Town Phase 1 - Block E2, Wapda Town Phase 1    1 Kanal
14   3.5 Crore  Wapda Town Phase 1 - Block J1, Wapda Town Phase 1  1.1 Kanal
15   2.6 Crore  Wapda Town Phase 1 - Block D3, Wapda Town Phase 1   10 Marla
16   2.2 Crore                     Wapda Town Phase 1, Wapda Town   10 Marla
17   3.4 Crore  Wapda Town Phase 1 - Block H3, Wapda Town Phase 1    1 Kanal
18  1.85 Crore                     Wapda Town Phase 2, Wapda Town   10 Marla
19   6.5 Crore  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1    2 Kanal

In [9]:
df.tail(9)

        Price                                           Location       Area
83    2 Crore  Wapda Town Phase 2 - Block N2, Wapda Town Phase 2   10 Marla
84  1.9 Crore  Wapda Town Phase 2 - Block N3, Wapda Town Phase 2   10 Marla
85    95 Lakh                   Wapda Town Extension, Wapda Town   10 Marla
86  2.4 Crore  Wapda Town Phase 1 - Block A2, Wapda Town Phase 1    1 Kanal
87  3.5 Crore  Wapda Town Phase 1 - Block H1, Wapda Town Phase 1    2 Kanal
88    7 Crore  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1    2 Kanal
89    3 Crore                   Wapda Town Extension, Wapda Town    1 Kanal
90  2.4 Crore                   Wapda Town Extension, Wapda Town    1 Kanal
91  3.5 Crore  Wapda Town Phase 1 - Block J1, Wapda Town Phase 1  1.1 Kanal

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     92 non-null     object
 1   Location  92 non-null     object
 2   Area      92 non-null     object
dtypes: object(3)
memory usage: 2.3+ KB

In [11]:
for i in df.columns:
    print(i)

Price
Location
Area

In [8]:
df['Location'].unique()

array(['Wapda Town Phase 1 - Block E1, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block F1, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block B4, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block K3, Wapda Town Phase 1',
       'Wapda Town Phase 2 - Block Q1, Wapda Town Phase 2',
       'Wapda Town Phase 1, Wapda Town', nan,
       'Wapda Town Phase 2 - Block P3, Wapda Town Phase 2',
       'Wapda Town Phase 1 - Block D2, Wapda Town Phase 1',
       'Wapda Town Phase 2 - Block Q2, Wapda Town Phase 2',
       'Wapda Town Phase 1 - Block H4, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block E2, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block J1, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block H3, Wapda Town Phase 1',
       'Wapda Town Phase 2, Wapda Town',
       'Wapda Town Phase 1 - Block A2, Wapda Town Phase 1',
       'Wapda Town, Lahore',
       'Wapda Town Phase 1 - Block H2, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block K1, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block G2, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block J2, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block A1, Wapda Town Phase 1',
       'Wapda Town Phase 2 - Block N3, Wapda Town Phase 2',
       'Wapda Town Phase 2 - Block N2, Wapda Town Phase 2',
       'Wapda Town Phase 2 - Block P1, Wapda Town Phase 2',
       'Wapda Town Phase 2 - Block P2, Wapda Town Phase 2',
       'Wapda Town Phase 1 - Block H1, Wapda Town Phase 1',
       'Wapda Town Phase 2 - Block N1, Wapda Town Phase 2',
       'Wapda Town Phase 1 - Block G3, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block A3, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block G5, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block D3, Wapda Town Phase 1',
       'Wapda Town Phase 2 - Block M, Wapda Town Phase 2',
       'Wapda Town Extension, Wapda Town'], dtype=object)

In [10]:
df['Price'].unique()

array(['3.3 Crore', '3.55 Crore', '3.4 Crore', '2.17 Crore', '2.27 Crore',
       '2.8 Crore', '3.5 Crore', nan, '2.25 Crore', '5.75 Crore',
       '1.6 Crore', '3.35 Crore', '7.6 Crore', '2.6 Crore', '2.2 Crore',
       '1.85 Crore', '6.5 Crore', '2.9 Crore', '8.5 Crore', '2.5 Crore',
       '3.15 Crore', '4.25 Crore', '8 Crore', '3.2 Crore', '1.45 Crore',
       '2 Crore', '3.25 Crore', '1.75 Crore', '1.9 Crore', '6.75 Crore',
       '5.5 Crore', '4 Crore', '2.55 Crore', '2.45 Crore', '3.6 Crore',
       '1.65 Crore', '4.5 Crore', '2.3 Crore', '1.38 Crore', '3.75 Crore',
       '5.25 Crore', '70 Lakh', '1.3 Crore', '6 Crore', '3.1 Crore',
       '1.2 Crore', '10 Crore', '5 Crore', '95 Lakh', '2.4 Crore',
       '7 Crore', '3 Crore'], dtype=object)

In [9]:
df.nunique()

Price       51
Location    33
Area         9
dtype: int64

# Data Preprocessing

In [12]:
df

         Price                                           Location       Area
0    3.3 Crore  Wapda Town Phase 1 - Block E1, Wapda Town Phase 1    1 Kanal
1   3.55 Crore  Wapda Town Phase 1 - Block F1, Wapda Town Phase 1    1 Kanal
2    3.4 Crore  Wapda Town Phase 1 - Block B4, Wapda Town Phase 1    1 Kanal
3   2.17 Crore  Wapda Town Phase 1 - Block K3, Wapda Town Phase 1   10 Marla
4   2.27 Crore  Wapda Town Phase 1 - Block F1, Wapda Town Phase 1   10 Marla
..         ...                                                ...        ...
87   3.5 Crore  Wapda Town Phase 1 - Block H1, Wapda Town Phase 1    2 Kanal
88     7 Crore  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1    2 Kanal
89     3 Crore                   Wapda Town Extension, Wapda Town    1 Kanal
90   2.4 Crore                   Wapda Town Extension, Wapda Town    1 Kanal
91   3.5 Crore  Wapda Town Phase 1 - Block J1, Wapda Town Phase 1  1.1 Kanal

[92 rows x 3 columns]

In [18]:
df['Location'].isnull().sum()

4

In [30]:
df.drop(['Price'],axis = 1, inplace = True)

In [31]:
df

                                             Location
0   Wapda Town Phase 1 - Block E1, Wapda Town Phase 1
1   Wapda Town Phase 1 - Block F1, Wapda Town Phase 1
2   Wapda Town Phase 1 - Block B4, Wapda Town Phase 1
3   Wapda Town Phase 1 - Block K3, Wapda Town Phase 1
5   Wapda Town Phase 2 - Block Q1, Wapda Town Phase 2
..                                                ...
87  Wapda Town Phase 1 - Block H1, Wapda Town Phase 1
88  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1
89                   Wapda Town Extension, Wapda Town
90                   Wapda Town Extension, Wapda Town
91  Wapda Town Phase 1 - Block J1, Wapda Town Phase 1

[91 rows x 1 columns]

In [34]:
print("--------Refresh columns without null values-------")
df.isnull().sum()

--------Refresh columns without null values-------

Location    4
dtype: int64