# Lahore Plot price prediction Analysis

# Libraries

In [29]:
import pandas as pd
import numpy as np
import pickle

from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

# Data Loading / Reading

In [ ]:
df = pd.read_csv(r"C:\Users\Zain Baig\Desktop\3rd Semester\Data sets for Analysis\plot_prices.csv")

In [31]:
df

         Price                                           Location       Area
0    3.3 Crore  Wapda Town Phase 1 - Block E1, Wapda Town Phase 1    1 Kanal
1   3.55 Crore  Wapda Town Phase 1 - Block F1, Wapda Town Phase 1    1 Kanal
2    3.4 Crore  Wapda Town Phase 1 - Block B4, Wapda Town Phase 1    1 Kanal
3   2.17 Crore  Wapda Town Phase 1 - Block K3, Wapda Town Phase 1   10 Marla
4   2.27 Crore  Wapda Town Phase 1 - Block F1, Wapda Town Phase 1   10 Marla
..         ...                                                ...        ...
87   3.5 Crore  Wapda Town Phase 1 - Block H1, Wapda Town Phase 1    2 Kanal
88     7 Crore  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1    2 Kanal
89     3 Crore                   Wapda Town Extension, Wapda Town    1 Kanal
90   2.4 Crore                   Wapda Town Extension, Wapda Town    1 Kanal
91   3.5 Crore  Wapda Town Phase 1 - Block J1, Wapda Town Phase 1  1.1 Kanal

[92 rows x 3 columns]

# Data Exploration

In [32]:
print(f"Number of rows :{df.shape[0]} \n Number of columns : {df.shape[1]}")

Number of rows :92
 Number of columns : 3

In [33]:
df.count()

Price       82
Location    88
Area        90
dtype: int64

In [34]:
df.describe()

            Price                                           Location     Area
count          82                                                 88       90
unique         51                                                 33        9
top     3.5 Crore  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1  1 Kanal
freq            5                                                  8       40

In [35]:
df.isnull().sum()

Price       10
Location     4
Area         2
dtype: int64

In [36]:
df.head(20)

         Price                                           Location       Area
0    3.3 Crore  Wapda Town Phase 1 - Block E1, Wapda Town Phase 1    1 Kanal
1   3.55 Crore  Wapda Town Phase 1 - Block F1, Wapda Town Phase 1    1 Kanal
2    3.4 Crore  Wapda Town Phase 1 - Block B4, Wapda Town Phase 1    1 Kanal
3   2.17 Crore  Wapda Town Phase 1 - Block K3, Wapda Town Phase 1   10 Marla
4   2.27 Crore  Wapda Town Phase 1 - Block F1, Wapda Town Phase 1   10 Marla
5    2.8 Crore  Wapda Town Phase 2 - Block Q1, Wapda Town Phase 2    1 Kanal
6    3.5 Crore                     Wapda Town Phase 1, Wapda Town    1 Kanal
7          NaN                                                NaN   10 Marla
8   2.25 Crore  Wapda Town Phase 2 - Block P3, Wapda Town Phase 2    1 Kanal
9   5.75 Crore  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1    2 Kanal
10   1.6 Crore                                                NaN   10 Marla
11  3.35 Crore  Wapda Town Phase 2 - Block Q2, Wapda Town Phase 2  1.2 Kanal
12   1.6 Crore  Wapda Town Phase 1 - Block H4, Wapda Town Phase 1   10 Marla
13   7.6 Crore  Wapda Town Phase 1 - Block E2, Wapda Town Phase 1    1 Kanal
14   3.5 Crore  Wapda Town Phase 1 - Block J1, Wapda Town Phase 1  1.1 Kanal
15   2.6 Crore                                                NaN        NaN
16   2.2 Crore                     Wapda Town Phase 1, Wapda Town        NaN
17         NaN  Wapda Town Phase 1 - Block H3, Wapda Town Phase 1    1 Kanal
18  1.85 Crore                     Wapda Town Phase 2, Wapda Town   10 Marla
19   6.5 Crore  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1    2 Kanal

In [37]:
df.tail(9)

        Price                                           Location       Area
83    2 Crore  Wapda Town Phase 2 - Block N2, Wapda Town Phase 2   10 Marla
84  1.9 Crore  Wapda Town Phase 2 - Block N3, Wapda Town Phase 2   10 Marla
85    95 Lakh                   Wapda Town Extension, Wapda Town   10 Marla
86  2.4 Crore  Wapda Town Phase 1 - Block A2, Wapda Town Phase 1    1 Kanal
87  3.5 Crore  Wapda Town Phase 1 - Block H1, Wapda Town Phase 1    2 Kanal
88    7 Crore  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1    2 Kanal
89    3 Crore                   Wapda Town Extension, Wapda Town    1 Kanal
90  2.4 Crore                   Wapda Town Extension, Wapda Town    1 Kanal
91  3.5 Crore  Wapda Town Phase 1 - Block J1, Wapda Town Phase 1  1.1 Kanal

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     82 non-null     object
 1   Location  88 non-null     object
 2   Area      90 non-null     object
dtypes: object(3)
memory usage: 2.3+ KB

In [39]:
for i in df.columns:
    print(i)

Price
Location
Area

In [40]:
df['Location'].unique()

array(['Wapda Town Phase 1 - Block E1, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block F1, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block B4, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block K3, Wapda Town Phase 1',
       'Wapda Town Phase 2 - Block Q1, Wapda Town Phase 2',
       'Wapda Town Phase 1, Wapda Town', nan,
       'Wapda Town Phase 2 - Block P3, Wapda Town Phase 2',
       'Wapda Town Phase 1 - Block D2, Wapda Town Phase 1',
       'Wapda Town Phase 2 - Block Q2, Wapda Town Phase 2',
       'Wapda Town Phase 1 - Block H4, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block E2, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block J1, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block H3, Wapda Town Phase 1',
       'Wapda Town Phase 2, Wapda Town',
       'Wapda Town Phase 1 - Block A2, Wapda Town Phase 1',
       'Wapda Town, Lahore',
       'Wapda Town Phase 1 - Block H2, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block K1, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block G2, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block J2, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block A1, Wapda Town Phase 1',
       'Wapda Town Phase 2 - Block N3, Wapda Town Phase 2',
       'Wapda Town Phase 2 - Block N2, Wapda Town Phase 2',
       'Wapda Town Phase 2 - Block P1, Wapda Town Phase 2',
       'Wapda Town Phase 2 - Block P2, Wapda Town Phase 2',
       'Wapda Town Phase 1 - Block H1, Wapda Town Phase 1',
       'Wapda Town Phase 2 - Block N1, Wapda Town Phase 2',
       'Wapda Town Phase 1 - Block G3, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block A3, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block G5, Wapda Town Phase 1',
       'Wapda Town Phase 1 - Block D3, Wapda Town Phase 1',
       'Wapda Town Phase 2 - Block M, Wapda Town Phase 2',
       'Wapda Town Extension, Wapda Town'], dtype=object)

In [41]:
df['Price'].unique()

array(['3.3 Crore', '3.55 Crore', '3.4 Crore', '2.17 Crore', '2.27 Crore',
       '2.8 Crore', '3.5 Crore', nan, '2.25 Crore', '5.75 Crore',
       '1.6 Crore', '3.35 Crore', '7.6 Crore', '2.6 Crore', '2.2 Crore',
       '1.85 Crore', '6.5 Crore', '2.9 Crore', '8.5 Crore', '2.5 Crore',
       '3.15 Crore', '4.25 Crore', '8 Crore', '3.2 Crore', '1.45 Crore',
       '2 Crore', '3.25 Crore', '1.75 Crore', '1.9 Crore', '6.75 Crore',
       '5.5 Crore', '4 Crore', '2.55 Crore', '2.45 Crore', '3.6 Crore',
       '1.65 Crore', '4.5 Crore', '2.3 Crore', '1.38 Crore', '3.75 Crore',
       '5.25 Crore', '70 Lakh', '1.3 Crore', '6 Crore', '3.1 Crore',
       '1.2 Crore', '10 Crore', '5 Crore', '95 Lakh', '2.4 Crore',
       '7 Crore', '3 Crore'], dtype=object)

In [42]:
df.nunique()

Price       51
Location    33
Area         9
dtype: int64

# Data Preprocessing

In [43]:
df

         Price                                           Location       Area
0    3.3 Crore  Wapda Town Phase 1 - Block E1, Wapda Town Phase 1    1 Kanal
1   3.55 Crore  Wapda Town Phase 1 - Block F1, Wapda Town Phase 1    1 Kanal
2    3.4 Crore  Wapda Town Phase 1 - Block B4, Wapda Town Phase 1    1 Kanal
3   2.17 Crore  Wapda Town Phase 1 - Block K3, Wapda Town Phase 1   10 Marla
4   2.27 Crore  Wapda Town Phase 1 - Block F1, Wapda Town Phase 1   10 Marla
..         ...                                                ...        ...
87   3.5 Crore  Wapda Town Phase 1 - Block H1, Wapda Town Phase 1    2 Kanal
88     7 Crore  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1    2 Kanal
89     3 Crore                   Wapda Town Extension, Wapda Town    1 Kanal
90   2.4 Crore                   Wapda Town Extension, Wapda Town    1 Kanal
91   3.5 Crore  Wapda Town Phase 1 - Block J1, Wapda Town Phase 1  1.1 Kanal

[92 rows x 3 columns]

In [44]:
df['Location'].isnull().sum()

4

In [45]:
df.drop(['Price'],axis = 1, inplace = True)

In [46]:
df

                                             Location       Area
0   Wapda Town Phase 1 - Block E1, Wapda Town Phase 1    1 Kanal
1   Wapda Town Phase 1 - Block F1, Wapda Town Phase 1    1 Kanal
2   Wapda Town Phase 1 - Block B4, Wapda Town Phase 1    1 Kanal
3   Wapda Town Phase 1 - Block K3, Wapda Town Phase 1   10 Marla
4   Wapda Town Phase 1 - Block F1, Wapda Town Phase 1   10 Marla
..                                                ...        ...
87  Wapda Town Phase 1 - Block H1, Wapda Town Phase 1    2 Kanal
88  Wapda Town Phase 1 - Block D2, Wapda Town Phase 1    2 Kanal
89                   Wapda Town Extension, Wapda Town    1 Kanal
90                   Wapda Town Extension, Wapda Town    1 Kanal
91  Wapda Town Phase 1 - Block J1, Wapda Town Phase 1  1.1 Kanal

[92 rows x 2 columns]

In [47]:
df_encoded = df.copy()

In [48]:
def encodeCols(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_label_encoder = LabelEncoder()
        data_label_encoder.fit(np.ravel(data))
        df_encoded[i] = data_label_encoder.transform(df[i]) 

columns = ['Location','Area']
encodeCols(columns)

In [49]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Location  92 non-null     int32
 1   Area      92 non-null     int32
dtypes: int32(2)
memory usage: 868.0 bytes

In [50]:
df_encoded.to_csv(r'encoded-data.csv', index = False, header = True)

# Train Test Splitting

In [51]:
traindata , testdata = train_test_split(df_encoded, test_size= 0.2 , shuffle = False)

In [52]:
traindata.head(5)

   Location  Area
0         7     0
1         9     0
2         4     0
3        20     4
4         9     4

In [53]:
testdata.head(5)

    Location  Area
73        12     8
74         8     0
75        21     0
76        29     4
77         1     2

In [54]:
train_x = traindata.iloc[:, 1:]
train_x.head()

   Area
0     0
1     0
2     0
3     4
4     4

In [55]:
train_y = traindata.iloc[:, 0]
train_y.head()

0     7
1     9
2     4
3    20
4     9
Name: Location, dtype: int32

In [56]:
test_x = testdata.iloc[:, 1:]
test_x.head()

    Area
73     8
74     0
75     0
76     4
77     2

In [57]:
test_y = testdata.iloc[:, 0]
test_y.head()

73    12
74     8
75    21
76    29
77     1
Name: Location, dtype: int32

# Training model using support vector machine

In [58]:
print("-- Training using SVC on Training Data --")
print("-- Parameters & Values: ", end='')

model_svc = SVC(gamma='auto', random_state=0)
model_svc.fit(train_x, np.ravel(train_y))

print(model_svc)

-- Training using SVC on Training Data --
-- Parameters & Values: SVC(gamma='auto', random_state=0)

In [60]:
# Saving Trained Model
pickle.dump(model_svc, open('model_svc.pkl', 'wb'))

In [61]:
# Load saved Model
model = pickle.load(open('model_svc.pkl', 'rb'))

In [62]:
model_predictions = model.predict(test_x)

testdata_predict = testdata.copy(deep=True)
pd.options.mode.chained_assignment = None

testdata_predict['Prediction'] = model_predictions

In [64]:
# Printing Testing Data
print("-- Testing Data with Prediction --")

-- Testing Data with Prediction --

In [69]:
model_accuracy_score = accuracy_score(testdata_predict['Location'], testdata_predict['Prediction'])

print("-- Model Accuracy Score: ", end='')
print(round(model_accuracy_score,3))

-- Model Accuracy Score: 0.105